html {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;

    color: #ad32ff;
    background-color: #280049;
}

h1 {
    font-size: 80px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 23px;
    text-align: center;
    line-height: 1px;
    margin: 0;
}

a {
    color: #ad32ff;
}

#logo {
    display: block;
    width: 160px;
    margin: 150px auto;
}